@model IEnumerable<br.com.engsoft.Models.Cidade>

@{
    ViewData["Title"] = "Index";
}

<h2>Cidades</h2>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.taxa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taxa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.codigo_cidade">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.codigo_cidade">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.codigo_cidade">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
